<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.bjtu.crawler.sql.myatis.mapper.SinaMicroblogTopicMapper">
	<cache />
	<insert id="saveTopic" parameterType="cn.edu.bjtu.crawler.sql.myatis.domain.SinaMicroblogTopic">
	    INSERT INTO sina_microblog_topic
	      (SINA_ID,TOPIC,TYPE,TARGET_ID,PRICE_COUNT,
	      QUOTE_COUNT,COMMENT_COUNT,MBLOGGER_ID,SUBMIT,
	      KEY_WORD,POST_DATE,POST_APP,CLASSIFY,TARGET_TOPIC,TARGET_POSTER_URL) 
	      VALUES 
	      (#{sinaId},#{topic},#{type},#{targetId},#{priceCount},
	      #{quoteCount},#{commentCount},#{mBloggerId},#{theme},
	      #{keyword},#{postDate},#{postApp},#{classfiy},#{targetTopic},#{targetPosterUrl})
  </insert>
</mapper>